
* {
    margin: 0;
    padding: 0;
}



::-webkit-scrollbar{
    width: 10px;
    background: rgb(42, 42, 43);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#2fff00ad);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#2fff00);
}




